* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.centrado {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

/*-------------barra de navegación superior---------------*/
ul {
    list-style: none;
}

#nav {
    background-color: #1ebea5;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo {
    width: 250px;
    float: left;
    /*    padding: 50% 0;*/
}

#logo img {
    padding: 7% 0;
}

#menu {
    float: right;
    padding: 3% 0;
    /*    display: flex;*/
    /*    justify-content: space-around;*/
}

#menu li {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    float: left;
    margin-right: 50px;
}

#menu a {
    color: #fff;
}

/*--------------------footer------------------------------*/
#footer {
    padding-top: 64px;
    background-color: #273443;
}

#columnas {
    padding: 4% 0;
    overflow: hidden;
}

#columnas div {
    float: left;
    width: 20%;
}

#columnas li a,
#priv a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

#columnas li a:hover {
    text-decoration: underline;
}

h6 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: rgba(255, 255, 255, .6);
}

#terms {
    background-color: #232f3c;
    overflow: hidden;
    padding: 2% 0;
}

#copy {
    float: left;
    margin-right: 7%;
}

#copy p {
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
}

#priv p {
    line-height: 16px;
}



/*********************media queriiiiii**********************************/
/*@media screen and (max-width: 992px) {}*/
